<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="css/TaryDecoration.css" rel="stylesheet">
</head>
<body>
<div id="head">
    <div id="headBox">
        <div id="headLinkBox">
            <a href="#">设为首页</a>
            <span>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;</span>
            <a href="#">加入收藏</a>
        </div>
        <div id="headBoxBottom">
            <a href="#"><img src="images/taryLogo.png" alt="logo"></a>
            <div>
                <span>家装实力派</span>
                <span>&#128172;&nbsp;装修热线：0517-85158777</span>
            </div>
        </div>
    </div>
</div>

<div id="topIntro">
    <div id="topNav">
        <div>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">公司简介</a></li>
                <li><a href="#">新闻中心</a></li>
                <li><a href="#">产品展示</a></li>
                <li><a href="#">成功案例</a></li>
                <li><a href="#">在线留言</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">资质荣誉</a></li>
            </ul>
            <form>
                <input type="text" placeholder="请输入关键字">
                <input type="submit" value="" >
            </form>
        </div>
    </div>
    <div>
        <img src="images/topBanner.png" style="width:1483px">
    </div>
</div>

<div id="container2">
    <div id="container" onmouseover="dropdown()" onmouseout="goUp()">
        <div id="curtain">
            <div id="dropdownIntro">
                <a href="#"><img src="images/ideas.png"></a>
                <a href="#"><img src="images/teams.png"></a>
                <a href="#"><img src="images/cases.png"></a>
                <a href="#"><img src="images/service.png"></a>
            </div>
        </div>
    </div>
</div>
<div id="exampleContainer">
    <div id="example">
        <h3>&nbsp;装修效果图</h3>
        <div style="overflow: hidden;zoom:1">
            <div class="floatingOne">
                <img src="images/examples/example1.png" id="example1">
                <div class="exampleCover">
                    <p>小户型也有大智慧</p>
                </div>
            </div>
            <div class="floatingOne">
                <div class="boxBox">
                    <img src="images/examples/example2.png" id="example2">
                    <div class="exampleCover">
                        <p>小户型也有大智慧</p>
                    </div>
                </div>
                <div class="boxBox">
                    <img src="images/examples/example3.png" id="example3">
                    <div class="exampleCover">
                        <p>小户型也有大智慧</p>
                    </div>
                </div>
                <div class="boxBox">
                    <img src="images/examples/example4.png" id="example4">
                    <div class="exampleCover">
                        <p>小户型也有大智慧</p>
                    </div>
                </div>
            </div>
        </div>
        <img src="images/examples/example5.png" id="example5">
    </div>
    <div id="rightPanel">
        <div id="RPTop">
            <h3>&nbsp;案例展示</h3>
            <ul>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
                <li><a href="#">厂房装修</a></li>
            </ul>
        </div>
        <div>
            <h3></h3>
        </div>
    </div>
</div>
<div id="broContainer" onmouseover="pauseSlide()" onmouseout="keepSlide()">
    <div id="imgContainer">
        <a href="#"><img src="images/slides/slide1.png"></a>
        <a href="#"><img src="images/slides/slide2.png"></a>
        <a href="#"><img src="images/slides/slide3.png"></a>
        <a href="#"><img src="images/slides/slide4.png"></a>
        <a href="#"><img src="images/slides/slide5.png"></a>
        <a href="#"><img src="images/slides/slide6.png"></a>

        <a href="#"><img src="images/slides/slide1.png"></a>
        <a href="#"><img src="images/slides/slide2.png"></a>
        <a href="#"><img src="images/slides/slide3.png"></a>
        <a href="#"><img src="images/slides/slide4.png"></a>
        <a href="#"><img src="images/slides/slide5.png"></a>
        <a href="#"><img src="images/slides/slide6.png"></a>
    </div>
</div>
<div id="footerContainer">
    <div id="footer">
        <div id="footerBox1">
            <ul>
                <li><a href="#">联系我们</a></li>
                <li><span>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;</span></li>
                <li><a href="#">公司诚聘</a></li>
                <li><span>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;</span></li>
                <li><a href="#">合作伙伴</a></li>
                <li><span>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;</span></li>
                <li><a href="#">网站地图</a></li>
            </ul>
            <p>Copyright © 2014-2015 www.haiis.com,All Rights Reserved 来源:模板之家</p>
            <p>版权所有 淮安澍天装饰工程有限公司</p>
        </div>
        <div id="footerBox2">
            <p>装修热线：0517-85158777</p>
            <p>邮箱：2079491718@qq.com</p>
        </div>
    </div>
</div>
<script src="js/taryDecoration.js"></script>
</body>
</html>